.contentarea-container{
    font-family: 'PTSans';
    .search-box-container{
        column-gap: 2%;
        .search-input {
            & > input {
                background-color: rgba(245, 246, 248, 0.5);
                border-left: none;
            }
            & > .additional-props-input-group-prepend{
                & > div {
                    background-color: rgba(245, 246, 248, 0.5);
                    border-right: none;
                }
                
            }
        }
    }
}

.lds-dual-ring {
    display: inline-block;
    width: 80px;
    height: 80px;
    &::after{
        content: " ";
        display: block;
        width: 64px;
        height: 64px;
        margin: 8px;
        border-radius: 50%;
        border: 6px solid #000000;
        border-color: #000000 transparent #000000 transparent;
        animation: lds-dual-ring 1.2s linear infinite;
        @keyframes lds-dual-ring {
            0% {
              transform: rotate(0deg);
            }
            100% {
              transform: rotate(360deg);
            }
          }                
    }
}
  