.sidebar-container {
  font-family: "PTSans";
  background-color: rgba(245, 246, 248, 0.5);
  height: 100vh;
  & > ul.sidebar-wrapper {
    list-style-type: none;
    & > li.sidebar-item {
      padding: 10px;
      margin: 10px;
      display: block;
      font-size: 20px;
      font-weight: bold;
      &:hover {
        background-color: #ffffff;
        border-radius: 4px;
        color: #6EB2E2;
        cursor: pointer;
      }
    }
  }
}
