.newuser-container{
    display: grid;
    .line-newuser{
        width: 10%;
        border: 2px solid white;
    }
    .btn-newuser{
        border: 1px solid #ffffff;
        color: #ffffff;
        background-color: transparent;
        &:hover{
            background-color: #ffffff;
            color: black;
        }
    }
}
