@import './../Login/login.scss';


.register-container{
    font-family: 'PTSans';
    background-image: url("./Assets/background.jpg");
    & > .registerform-container{
        background-color: #ffffff ;
    }
}