@font-face {
    font-family: 'PTSans';
    src: url("./../common_assets/PTSans-Regular.ttf");
}

.additional-login-container{
    border-radius: 25px;
    font-family: 'PTSans';
    @media ( max-width : 568px ){
        border-radius: 0;
    }
    .additional-props-signup{
        border-top-left-radius: 25px;
        border-bottom-left-radius: 25px;
        @media ( max-width : 568px ){
            border-radius: 0;
        }
    }
    .additional-props-newuser{
        // background-color:#0ECA98;
        color: #ffffff;
        border-top-right-radius: 25px;
        border-bottom-right-radius: 25px;
        @media ( max-width : 568px ){
            border-radius: 0;
        }
    }    
}